<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/style/helloWorld.css' />
</head>
<body>
	<div class="helloWorld">
		<p>hello World !</p>
	</div>
</body>
</html>